

.block {
    width: 100px;
    height: 100px;
    background-color: grey;
    cursor: pointer;
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-gap: 10px;
    margin: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

